In [49]:
import pandas as pd
data=pd.read_csv('/content/sample_data/Placement_Data_Full_Class.csv')
print(data.head())

   sl_no gender  ssc_p    ssc_b  hsc_p    hsc_b     hsc_s  degree_p  \
0      1      M  67.00   Others  91.00   Others  Commerce     58.00
1      2      M  79.33  Central  78.33   Others   Science     77.48
2      3      M  65.00  Central  68.00  Central      Arts     64.00
3      4      M  56.00  Central  52.00  Central   Science     52.00
4      5      M  85.80  Central  73.60  Central  Commerce     73.30

    degree_t workex  etest_p specialisation  mba_p      status    salary
0   Sci&Tech     No     55.0         Mkt&HR  58.80      Placed  270000.0
1   Sci&Tech    Yes     86.5        Mkt&Fin  66.28      Placed  200000.0
2  Comm&Mgmt     No     75.0        Mkt&Fin  57.80      Placed  250000.0
3   Sci&Tech     No     66.0         Mkt&HR  59.43  Not Placed       NaN
4  Comm&Mgmt     No     96.8        Mkt&Fin  55.50      Placed  425000.0

In [54]:
print(data.head())
data.shape

   sl_no  ssc_p  hsc_p  degree_p  etest_p  mba_p    salary  gender_encoded  \
0      1  67.00  91.00     58.00     55.0  58.80  270000.0               1
1      2  79.33  78.33     77.48     86.5  66.28  200000.0               1
2      3  65.00  68.00     64.00     75.0  57.80  250000.0               1
3      4  56.00  52.00     52.00     66.0  59.43       NaN               1
4      5  85.80  73.60     73.30     96.8  55.50  425000.0               1

   ssc_b_encoded  hsc_b_encoded  hsc_s_encoded  degree_t_encoded  \
0              1              1              1                 2
1              0              1              2                 2
2              0              0              0                 0
3              0              0              2                 2
4              0              0              1                 0

   workex_encoded  specialisation_encoded  status_encoded
0               0                       1               1
1               1                       0               1
2               0                       0               1
3               0                       1               0
4               0                       0               1

(215, 15)

,sl_no,ssc_p,hsc_p,degree_p,etest_p,mba_p,salary,gender_encoded,ssc_b_encoded,hsc_b_encoded,hsc_s_encoded,degree_t_encoded,workex_encoded,specialisation_encoded,status_encoded
0,1,67.00,91.00,58.00,55.0,58.80,270000.000000,1,1,1,1,2,0,1,1
1,2,79.33,78.33,77.48,86.5,66.28,200000.000000,1,0,1,2,2,1,0,1
2,3,65.00,68.00,64.00,75.0,57.80,250000.000000,1,0,0,0,0,0,0,1
3,4,56.00,52.00,52.00,66.0,59.43,288655.405405,1,0,0,2,2,0,1,0
4,5,85.80,73.60,73.30,96.8,55.50,425000.000000,1,0,0,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
210,211,80.60,82.00,77.60,91.0,74.49,400000.000000,1,1,1,1,0,0,0,1
211,212,58.00,60.00,72.00,74.0,53.62,275000.000000,1,1,1,2,2,0,0,1
212,213,67.00,67.00,73.00,59.0,69.72,295000.000000,1,1,1,1,0,1,0,1
213,214,74.00,66.00,58.00,70.0,60.23,204000.000000,0,1,1,1,0,0,1,1
214,215,62.00,58.00,53.00,89.0,60.22,288655.405405,1,0,1,2,0,0,1,0

In [56]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import LabelEncoder

In [108]:
def enc(df):
  label_encoder = LabelEncoder()
  columns_to_drop = []
  for col in df.select_dtypes(include=['object']).columns:
      print(f"Processing column: {col}")
      if df[col].isnull().any():
          print(f"Column {col} contains NaN values. Fill NaNs or drop rows before encoding.")
          continue
      try:
          df[col + '_encoded'] = label_encoder.fit_transform(df[col])
          columns_to_drop.append(col)
          print(f"Column {col} encoded successfully.")
      except Exception as e:
          print(f"Failed to encode column {col}: {e}")
  df.drop(columns=columns_to_drop, inplace=True)
  print("Original columns dropped successfully.")
  return df

In [58]:
df

,sl_no,ssc_p,hsc_p,degree_p,etest_p,mba_p,salary,gender_encoded,ssc_b_encoded,hsc_b_encoded,hsc_s_encoded,degree_t_encoded,workex_encoded,specialisation_encoded,status_encoded
0,1,67.00,91.00,58.00,55.0,58.80,270000.000000,1,1,1,1,2,0,1,1
1,2,79.33,78.33,77.48,86.5,66.28,200000.000000,1,0,1,2,2,1,0,1
2,3,65.00,68.00,64.00,75.0,57.80,250000.000000,1,0,0,0,0,0,0,1
3,4,56.00,52.00,52.00,66.0,59.43,288655.405405,1,0,0,2,2,0,1,0
4,5,85.80,73.60,73.30,96.8,55.50,425000.000000,1,0,0,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
210,211,80.60,82.00,77.60,91.0,74.49,400000.000000,1,1,1,1,0,0,0,1
211,212,58.00,60.00,72.00,74.0,53.62,275000.000000,1,1,1,2,2,0,0,1
212,213,67.00,67.00,73.00,59.0,69.72,295000.000000,1,1,1,1,0,1,0,1
213,214,74.00,66.00,58.00,70.0,60.23,204000.000000,0,1,1,1,0,0,1,1
214,215,62.00,58.00,53.00,89.0,60.22,288655.405405,1,0,1,2,0,0,1,0

In [65]:
y=df['status_encoded']
X=df.drop('status_encoded',axis=1)
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.4, random_state=50)
logreg_model = LogisticRegression()
logreg_model.fit(X_train, y_train)
y_pred = logreg_model.predict(X_test)
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)

Accuracy: 0.8255813953488372

/usr/local/lib/python3.10/dist-packages/sklearn/linear_model/_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [71]:
#xgb
from xgboost import XGBClassifier
from sklearn.metrics import accuracy_score, classification_report
model = XGBClassifier()
model.fit(X_train, y_train)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
y_pred = model.predict(X_test)
accuracy= accuracy_score(y_test, y_pred)
print("Accuracy: ",accuracy)
print(classification_report(y_test, y_pred))

Accuracy:  0.9767441860465116
              precision    recall  f1-score   support

           0       0.92      1.00      0.96        12
           1       1.00      0.97      0.98        31

    accuracy                           0.98        43
   macro avg       0.96      0.98      0.97        43
weighted avg       0.98      0.98      0.98        43

In [72]:
# random forest
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, classification_report
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=86)
rf_classifier = RandomForestClassifier(n_estimators=100, random_state=14)
rf_classifier.fit(X_train, y_train)
y_pred = rf_classifier.predict(X_test)
accuracy = accuracy_score(y_test, y_pred)
print(f"Accuracy: {accuracy:.5f}")
print(classification_report(y_test, y_pred))

Accuracy: 0.95349
              precision    recall  f1-score   support

           0       0.89      0.89      0.89         9
           1       0.97      0.97      0.97        34

    accuracy                           0.95        43
   macro avg       0.93      0.93      0.93        43
weighted avg       0.95      0.95      0.95        43

,sl_no,ssc_p,hsc_p,degree_p,etest_p,mba_p,salary,gender_encoded,ssc_b_encoded,hsc_b_encoded,hsc_s_encoded,degree_t_encoded,workex_encoded,specialisation_encoded
26,27,71.00,79.00,66.00,94.00,57.55,240000.000000,1,1,1,1,0,1,0
12,13,47.00,55.00,65.00,62.00,65.04,288655.405405,0,0,1,2,0,0,1
34,35,62.00,51.00,52.00,68.44,62.77,288655.405405,1,1,1,2,1,0,1
123,124,74.00,59.00,73.00,60.00,56.70,240000.000000,1,1,1,1,0,1,1
77,78,64.00,80.00,65.00,69.00,57.65,500000.000000,1,1,1,2,2,1,0
90,91,85.00,90.00,82.00,92.00,68.03,300000.000000,0,1,1,1,0,0,0
115,116,73.00,63.00,66.00,89.00,60.50,216000.000000,0,1,1,2,0,0,0
15,16,65.00,75.00,69.00,72.00,64.66,200000.000000,0,0,0,1,0,1,0
94,95,58.00,62.00,64.00,53.88,54.97,260000.000000,1,0,0,1,0,0,0
102,103,77.00,61.00,68.00,57.50,61.31,300000.000000,0,1,1,1,0,1,0
213,214,74.00,66.00,58.00,70.00,60.23,204000.000000,0,1,1,1,0,0,1
193,194,60.00,63.00,56.00,80.00,56.63,300000.000000,0,0,0,0,1,1,1
118,119,76.00,80.00,78.00,97.00,70.48,276000.000000,1,0,0,2,2,1,1
19,20,60.00,67.00,70.00,50.48,77.89,236000.000000,1,1,1,0,0,1,0
1,2,79.33,78.33,77.48,86.50,66.28,200000.000000,1,0,1,2,2,1,0
157,158,66.50,62.50,60.90,93.40,55.03,300000.000000,1,0,0,1,0,0,0
205,206,61.00,62.00,65.00,62.00,56.81,250000.000000,1,1,1,1,0,0,0
37,38,79.00,76.00,65.60,58.00,55.47,320000.000000,0,0,0,2,2,0,1
125,126,84.00,73.00,73.00,75.00,73.33,350000.000000,0,0,0,1,0,0,0
31,32,67.00,53.00,65.00,64.00,58.32,288655.405405,0,0,0,2,2,0,1
196,197,72.00,63.00,77.50,78.00,54.48,250000.000000,1,1,1,2,2,1,0
30,31,64.00,73.50,73.00,52.00,56.70,250000.000000,0,0,0,1,0,0,1
55,56,60.40,66.60,65.00,71.00,52.71,220000.000000,1,0,1,2,0,0,1
189,190,54.00,77.60,69.20,95.65,66.94,288655.405405,0,0,1,1,0,0,0
82,83,63.00,67.00,74.00,82.00,60.44,288655.405405,1,0,0,1,0,0,0
184,185,56.28,62.83,59.79,60.00,57.29,288655.405405,0,1,1,1,0,0,1
110,111,69.50,70.00,72.00,57.20,54.80,250000.000000,0,0,0,2,2,0,1
200,201,69.00,60.00,65.00,87.55,52.81,300000.000000,1,1,1,1,0,0,0
201,202,54.20,63.00,58.00,79.00,58.44,288655.405405,1,0,1,2,0,0,1
174,175,73.24,50.83,64.27,64.00,66.23,500000.000000,1,1,1,2,2,1,0
50,51,75.20,73.20,68.40,65.00,62.98,200000.000000,0,0,0,2,0,0,1
97,98,70.50,62.50,61.00,93.91,69.03,288655.405405,0,0,1,1,0,0,0
152,153,75.40,60.50,84.00,98.00,65.25,240000.000000,0,1,0,2,2,0,0
39,40,81.00,68.00,64.00,93.00,62.56,411000.000000,1,1,1,2,2,0,0
8,9,73.00,79.00,72.00,91.34,61.29,231000.000000,1,0,0,1,0,0,0
195,196,66.00,76.00,72.00,84.00,58.95,275000.000000,1,0,0,1,0,1,1
32,33,61.00,81.00,66.40,50.89,62.21,278000.000000,0,0,0,1,0,0,1
84,85,70.00,63.00,70.00,55.00,62.00,300000.000000,1,0,1,2,2,1,0
133,134,73.00,64.00,77.00,65.00,60.98,250000.000000,1,0,1,1,0,1,1
59,60,52.60,65.58,72.11,57.60,56.66,265000.000000,1,0,1,2,2,0,0
106,107,61.08,50.00,54.00,71.00,65.69,288655.405405,1,1,1,2,2,0,0
81,82,81.70,63.00,67.00,86.00,70.20,300000.000000,1,1,1,2,0,1,0
197,198,83.96,53.00,91.00,59.32,69.71,260000.000000,0,1,1,2,2,0,1

In [125]:
test=pd.read_csv('/content/sample_data/place_test.csv')
test

,sl_no,gender,ssc_p,ssc_b,hsc_p,hsc_b,hsc_s,degree_p,degree_t,workex,etest_p,specialisation,mba_p,status,salary
0,7,F,46.00,Others,49.20,Others,Commerce,79.00,Comm&Mgmt,No,74.28,Mkt&Fin,53.29,Not Placed,NaN
1,2,M,79.33,Central,78.33,Others,Science,77.48,Sci&Tech,Yes,86.50,Mkt&Fin,66.28,Placed,200000.0

In [126]:
df_test=enc(test)
df_test.drop('status_encoded',axis=1,inplace=True)
df_test.fillna(34,inplace=True)
df_test

Processing column: gender
Column gender encoded successfully.
Processing column: ssc_b
Column ssc_b encoded successfully.
Processing column: hsc_b
Column hsc_b encoded successfully.
Processing column: hsc_s
Column hsc_s encoded successfully.
Processing column: degree_t
Column degree_t encoded successfully.
Processing column: workex
Column workex encoded successfully.
Processing column: specialisation
Column specialisation encoded successfully.
Processing column: status
Column status encoded successfully.
Original columns dropped successfully.

,sl_no,ssc_p,hsc_p,degree_p,etest_p,mba_p,salary,gender_encoded,ssc_b_encoded,hsc_b_encoded,hsc_s_encoded,degree_t_encoded,workex_encoded,specialisation_encoded
0,7,46.00,49.20,79.00,74.28,53.29,34.0,0,1,0,0,0,0,0
1,2,79.33,78.33,77.48,86.50,66.28,200000.0,1,0,0,1,1,1,0

In [132]:
y_pred_test = rf_classifier.predict(df_test)
y_pred_test
for i in range(len(y_pred_test)):
  if y_pred_test[i]==1:
    print('Placed')
  else:
    print('Not Placed')

Not Placed
Placed